<manifest package="com.taihe.template.base"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="com.taihe.template.base.FragmentHostActivity"/>
    </application>

</manifest>
