<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.taihe.template.app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.frame.InjectionActivity"
            android:label="注解框架DEMO"/>
        <activity
            android:name=".ui.frame.HttpActivity"
            android:label="Http请求Demo"/>
        <activity
            android:name=".ui.frame.BottomTabActivity"
            android:label="@string/title_activity_main">
        </activity>
        <activity
            android:name=".tmplate.activity.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme"/>
        <activity
            android:name=".ui.frame.ScrollableTabActivity"
            android:label="@string/title_activity_scrollable_tab"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".tmplate.selectfile.FileSelectActivity"
            android:label="@string/title_activity_file_select"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.frame.BannerActivity"
            android:label="@string/title_activity_banner"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.frame.GuideActivity"
            android:label="@string/title_activity_guide"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.frame.ActionBarLayoutActivity"
            android:label="滑动->固定顶部的Toobar的官方实现"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.MvpDemoActivity"
            android:label="MVP模式DEMO"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".tmplate.activity.ContactListActivity"
            android:label="通讯录右侧字幕快速索引Demo"/>
        <activity
            android:name=".ui.viewtest.SlideListItemActivity"
            android:label="列表滑动删除Demo"/>
        <activity
            android:name=".tmplate.activity.FragmentTestActivity"
            android:label="Fragment测试入口Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.viewtest.WheelViewActivity"
            android:label="滑轮控件Demo"/>
        <activity
            android:name=".tmplate.activity.FromLayoutActivity"
            android:label="效率布局Demo"/>
        <activity
            android:name=".ui.viewtest.SimpleGridLayoutActivity"
            android:label="简单宫格布局Demo"/>
        <activity
            android:name=".ui.canvas.CanvasActivity"
            android:label="画布实验室"/>
        <activity
            android:name=".ui.canvas.MeterialCircleActivity"
            android:label="MeterialDesign之圆形专场特效实现"
            android:theme="@style/FullScreenTranslucent">
        </activity>
        <activity
            android:name=".ShowFinishAppActivity"
            android:label="@string/title_activity_show_finish_app"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".tmplate.activity.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".tmplate.activity.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".tmplate.activity.TabsActivity"
            android:label="@string/title_activity_tabs"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name=".tmplate.FileSelectDemoActivity">
        </activity>
        <activity android:name=".BaseWebActivity">
        </activity>
        <activity android:name=".OfficalRippleAnimationDemo">
        </activity>
    </application>

</manifest>